= render(:partial => "layouts/redcloth")

= semantic_form_for @workshop, :html => { :multipart => true } do |form|

  = form.inputs do
    = form.input :title, :required => true, :label => "Workshop Title"
    = form.input :description, :as => :text
    = form.input :tags, :hint => "Example: performance, improv, dance"
    - if @workshop.image?
      = image_tag(@workshop.image.url(:thumb))
      = form.input :remove_image, :as => :boolean
    = form.input :image

  = form.buttons do
    = form.commit_button