- content_for :title, @workshop.title + " - 500 Clown"
- content_for :head do
  = stylesheet_link_tag "colorbox"
  = javascript_include_tag "jquery.colorbox"

%h1.title
  = @workshop.title
  - if user_signed_in?
    %span.admin= link_to('Edit', edit_workshop_path(@workshop))

%p.description
  - if @workshop.image?
    .right= image_tag(@workshop.image.url(:medium))
  = @workshop.description.html_safe

.tags
  %span.tag_title Tags:
  = @workshop.tags.gsub(/,/, ", ")

.reviews
  - unless @workshop.reviews.empty?
    %h3.reviews_title Press:
    %ul.review_list
      - @workshop.reviews.each do |review|
        %li
          %span.title= truncate(review.title)
          %span.source= review.description.html_safe
          = link_to "read full review", workshop_review_path(@workshop, review)
          - if user_signed_in?
            %span.admin= link_to(image_tag('trash.png', :alt => 'Destroy'), workshop_review_path(@workshop, review), :confirm => 'Are you sure?', :method => :delete, :class => "trash")

  - if user_signed_in?
    %span.admin
      = link_to('+ Add New Review', new_workshop_review_path(@workshop))
      = form_for @workshop do |r|
        %select{:id => "review_id", :name => "review_id"}
          - reviews_array = Review.excludes(:workshop_id => @workshop.id).map { |review| [truncate(review.title), review.id] }
          = options_for_select(reviews_array)
        = r.submit "Add Existing Review"

- if user_signed_in?
  %span.add
    = render 'flickrs/flickr-form'

.flickrs
  - if @workshop.flickrs.first
    %h3.flickrs_title Photos:
    %ul.flickr_list
    - @workshop.flickrs.each do |fset|
      = render(:partial => "flickrs/photoset", :locals => {:fset => fset})
  - else
    %ul.flickr_list