%h1.title= @workshop.title
.left= image_tag(@workshop.image.url(:large)) if @workshop.image?
.description= @workshop.description
.tags= 'Tags: ' + @workshop.tags_array.inspect

- if user_signed_in?
  .admin= link_to('Edit', edit_workshop_path(@workshop)) + ' | ' + link_to('Back', workshops_path)
- else
  .nav= link_to('Back', workshops_path)