%h1.title
  = @workshop.title
  - if user_signed_in?
    %span.admin= link_to('Edit', edit_workshop_path(@workshop))
- if @workshop.image?
  .right= image_tag(@workshop.image.url(:medium))
.description= @workshop.description.html_safe
.tags= 'tags: ' + @workshop.tags.gsub(/,/, ", ")

%h3.reviews
  Reviews:
  - if user_signed_in?
    %span.admin
      = link_to('+ Create new review', new_workshop_review_path(@workshop))
      = form_for @workshop do |r|
        %select{:id => "review_id", :name => "review_id"}
          - reviews_array = Review.excludes(:workshop_id => @workshop.id).map { |review| [truncate(review.title), review.id] }
          = options_for_select(reviews_array)
        = r.submit "Add existing review"
      
- if @workshop.reviews.empty?
  There are currently no reviews.
- else
  %ul.review_list
    - @workshop.reviews.each do |review|
      %li
        = link_to review.title, workshop_review_path(@workshop, review)
        - if user_signed_in?
          %span.admin= link_to('Destroy', review_path(review), :method => :delete)