= video.code.html_safe
- if user_signed_in?
  .admin
    - if @show
      = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Remove Video') + " remove video", show_video_path(@show, video), :confirm => 'Are you sure you want to remove this Video?', :method => :delete)
    - elsif @workshop
      = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Remove Video') + " remove video", workshop_video_path(@workshop, video), :confirm => 'Are you sure you want to remove this Video?', :method => :delete)
    - elsif @event
      = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Remove Video') + " remove video", event_video_path(@event, video), :confirm => 'Are you sure you want to remove this Video?', :method => :delete)
    - elsif @promotion
      = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Remove Video') + " remove video", promotion_video_path(@promotion.id, video), :confirm => 'Are you sure you want to remove this Video?', :method => :delete)
    - elsif @page
      = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Remove Video') + " remove video", page_video_path(@page.id, video), :confirm => 'Are you sure you want to remove this Video?', :method => :delete)
