<% #javascript "flickr" %>
<% #stylesheet "flickr" %>
<% javascript "jquery.wysiwyg" %>
<% javascript "wysiwyg" %>
<% stylesheet "jwysiwyg/jquery.wysiwyg" %>
<% # stylesheet "formtastic" %>
<% stylesheet("ui-darkness/jquery-ui-1.8.5.custom.css") %>
<% javascript("jquery-ui-timepicker-addon.js") %>
<% stylesheet("timepicker.css") %>

<%= semantic_form_for @event, :html => { :multipart => true, :id => "eventform" } do |form| %>

  <% form.inputs do %>
    <%= form.input :title, :required => true, :label => "Event Title" %>
    <%= form.input :description, :as => :text,  :input_html => { :class => 'wysiwyg' } %>
		<%= form.input :event_type, :as => :select, :collection => ["Performance", "Workshop", "Fundraiser"] %>
    <%= form.input :tags, :hint => "(e.g. comedy, tragedy, classic)" %>
		<%= image_tag(@event.image.url(:thumb)) if @event.image? %>
    <%= form.input :image %>
    <%= form.input :venue_name %>
    <%= form.input :street, :required => false %>
    <%= form.input :city, :required => false %>
    <%= form.input :state, :required => false %>
    <%= form.input :zip, :required => false %>
  <% end %>

	<div class="images">
	</div>
	
  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>

<% end %>