<%= semantic_form_for :showdate, @showdate, :url => {:controller => "showdates", :action => "create"}, :html => {:multipart => true} do |f| %>
	<%= hidden_field_tag 'event_id', @event.id %>
  <p>
      <img src="/images/calendar.gif" alt="Start" border="0" />
      <strong>From:</strong>
      <input id="showdate_start_date" name="showdate[start_date]" type="text" />
      <input id="showdate_start_time" name="showdate[start_time]" type="text" />
  </p>
  <p>
      <img src="/images/calendar.gif" alt="End" border="0" />
      <strong>To:</strong>
      <input id="showdate_end_date" name="showdate[end_date]"  type="text" />
      <input id="showdate_end_time" name="showdate[end_time]"  type="text" />
  </p>
  <%= submit_tag "Add Date" %>
<% end %>


<% content_for :head do %>
  <%= stylesheet_link_tag "calendrical" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "jquery.calendrical" %>
<% end %>

<% content_for :jstemplates do %>
  $('#showdate_start_date, #showdate_start_time,' +
    '#showdate_end_date,   #showdate_end_time')
      .calendricalDateTimeRange();
<% end %>