= content_for :title, "Editing " + @event.title

%h1
  = @event.title
  %span.admin
    = link_to 'Show', @event

.timestamps
  %span.created= 'created ' + @event.created_at.to_s(:short)
  , 
  %span.updated= 'updated ' + time_ago_in_words(@event.updated_at) + ' ago'

= render 'form'
