= content_for :title, "Events"

%h1 Events

/ .tag-cloud
/   %span.label TAG CLOUD
/   - Event.tags_with_weight.each do |key, value|
/     = content_tag :span, key, :style => "font-size: #{0.6 + value/2}em;"

/ - if user_signed_in?
/   = link_to 'New Event', new_event_path

%ul.event-list
  - @events.each do |event|
    %li
      - if event.image?
        .left= link_to image_tag(event.image.url(:thumb)), event
      .title= link_to event.title, event 
      .venue
        at 
        = event.venue_name
      - if user_signed_in?
        .timestamps
          %span.created= 'created ' + event.created_at.to_s(:short)
          , 
          %span.updated= 'updated ' + time_ago_in_words(event.updated_at) + ' ago'
        .admin
          .edit= link_to 'Edit', edit_event_path(event)
          .destroy= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete