<% title('Event Listing') %>

<table>
  <tr>
		<th>Title</th>
		<th>Venue</th>
		<% if user_signed_in? -%>
		<th>Created</th>
		<th>Modified</th>
		<% end -%>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.venue_name %></td>
		<% if user_signed_in? -%>
    <td><%= event.created_at.to_s(:short) %></td>
    <td><%= time_ago_in_words(event.updated_at) %> ago</td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end -%>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? -%>
<%= link_to 'New Event', new_event_path %>
<% end -%>