- content_for :title, @event.title + " - 500 Clown"

%h1
  = @event.title
  - if @event.venue_name?
    %span.label at
    %span.venue_name= @event.venue_name
  - if user_signed_in?
    %span.admin= link_to('Edit', edit_event_path(@event))

- if @event.event_type?
  .event_type
    Event Type:
    = @event.event_type

%p.description
  - if @event.image?
    = image_tag(@event.image.url(:medium), :class => "right")
  = @event.description.html_safe

.tags
  - unless @event.tags_array.empty?
    %span.tag_title Tags:
    = @event.tags.gsub(/,/, ", ")
  
.when
  - unless @showdates.empty? 
    %h3 When:
    %ul.date_list
      - @showdates.each do |d|
        %li
          = d.start_date.to_s(:date)
          , 
          = d.start_time.to_s(:time)
          \ - 
          = d.end_time.to_s(:time)
          - if user_signed_in?
            %span.admin= link_to(image_tag('edit-delete.png'), event_showdate_path(@event, d), :confirm => "Are you sure?", :method => :delete)

- if user_signed_in?
  = render 'showdate'

.where
  - if @event.venue_name?
    %h3 Where:
    .venue= @event.venue_name
    .address
      %p= @event.street
      %p= @event.city.to_s + ', ' + @event.state.to_s + ' ' + @event.zip.to_s
  - unless(@event.map_string.length < 5)
    - stylesheet "gmaps"
    - javascript "http://maps.google.com/maps/api/js?sensor=true"
    / - javascript "gmaps.js"
    %input#address{ :name => "address", :type => "hidden", :value => @event.map_string}/
    %div#map_canvas