- stylesheet "formtastic"

= semantic_form_for @page, :html => { :multipart => true } do |form|

  - form.inputs do
    = form.input :title, :required => true
    = form.input :hide_title, :as => :boolean
    %br.clear/
    %br.clear/
    = form.input :body, :as => :text
    = form.input :slug, :hint => "Created automatically if left blank"

  - form.buttons do
    = form.commit_button