= render(:partial => "layouts/redcloth")

= semantic_form_for @page, :html => { :multipart => true } do |form|

  = form.inputs do
    = form.input :title, :required => true
    = form.input :hide_title, :as => :boolean
    = form.input :body, :as => :text

  = form.buttons do
    = form.commit_button