- content_for :title, @page.title + ' - 500 Clown'
- body_id(@page.slug)
- content_for :head do
  = stylesheet_link_tag "colorbox"
  = javascript_include_tag "jquery.colorbox"
- content_for :jstemplates do
  jQuery(function() { app.setupVideos(); });

#main
  #wrapper
    - if user_signed_in?
      .admin
        = link_to(image_tag('trash.png', :alt => 'Destroy', :title => 'Delete Page') + 'Delete Page', @page, :confirm => 'Are you sure you want to delete this page?', :method => :delete)
        = link_to(image_tag('pencil.gif', :alt => 'Edit', :title => 'Edit Page') + 'Edit Page', edit_page_path(@page))

    .page= RedCloth.new(@page.body).to_html.html_safe

    - if user_signed_in?
      #add_video.tk-poster + Add a Video
      #new_video{:style => "display: none;"}= render '/videos/video-form'

    - if @page.videos.first
      .videos
        %ul{:class => 'video_list'}
          - @page.videos.each do |video|
            %li= render(:partial => "videos/video", :locals => {:video => video})



    - if user_signed_in?
      %span.add
        = render 'flickrs/flickr-form'

    - if @page.flickrs.first
      .flickrs
        %h3.tk-poster Photos:
        %ul.flickr_list
        - @page.flickrs.each do |fset|
          = render(:partial => "flickrs/photoset", :locals => {:fset => fset})
