- content_for :title, @page.title + ' - 500 Clown'
- content_for :head do
  = stylesheet_link_tag "colorbox"
  = javascript_include_tag "jquery.colorbox"

- unless @page.hide_title
  %h1.title
    = @page.title
    - if user_signed_in?
      %span.admin
        = link_to('Edit', edit_page_path(@page))
        = link_to 'Destroy', @page, :confirm => 'Are you sure?', :method => :delete 

.body= @page.body.html_safe

- if user_signed_in?
  %span.add
    = render 'flickrs/flickr-form'

.flickrs
  - if @page.flickrs.first
    %h3.flickrs_title Photos:
    %ul.flickr_list
    - @page.flickrs.each do |fset|
      = render(:partial => "flickrs/photoset", :locals => {:fset => fset})
  - else
    %ul.flickr_list