<h1>Dates for <%= @event.title %></h1>

<%= link_to 'Back to event', event_path(@event) %>

<ul class="showdate_list">
<% @event.showdates.each do |date| %>
  <li><%= date.start_date %> <%= link_to('Destroy', event_showdate_path(@event, date), :confirm => 'Are you sure?', :method => :delete) %>
<% end %>
</ul>

<br />

<%= link_to 'New Date', new_event_showdate_path %>
