= semantic_form_for @show, :html => { :multipart => true } do |form|

  = form.inputs do
    = form.input :title, :required => true, :label => "Show Title"
    = form.input :description, :as => :text
    = form.input :tags, :hint => "Example: comedy, tragedy, classic"
    = image_tag(@show.image.url(:thumb)) if @show.image?
    = form.input :image

  = form.buttons do
    = form.commit_button