= semantic_form_for @review, :action => "add_review", :html => { :multipart => true } do |form|

  - form.inputs do
    = form.input :title, :required => true, :label => "Review Title"
    = form.input :description, :as => :text
    = form.input :url, :label => "LINK", :hint => '(e.g. http://herald.com/article)'
    = image_tag(@review.image.url(:thumb)) if @review.image?
    = form.input :image

  = form.buttons do
    = form.commit_button