- content_for :title, @show.title + " - 500 Clown"

%h1.title
  = @show.title
  - if user_signed_in?
    %span.admin= link_to('Edit', edit_show_path(@show))
.right= image_tag(@show.image.url(:medium)) if @show.image?
.description= @show.description.html_safe
.tags= 'tags: ' + @show.tags.gsub(/,/, ", ")

- unless @show.additional_info.nil?
  %h3 Additional Info:
  %p.additional_info= @show.additional_info.html_safe

%h3.credits Credits:
- if @show.credits.empty?
  There are currently no credits.
- else
  %ul.credit_list
    - @show.credits.each do |c|
      %li
        %span.title= c.title
        \ : 
        %span.name= c.name
        - if user_signed_in?
          %span.admin= link_to('Destroy', show_credit_path(@show, c), :confirm => 'Are you sure?', :method => :delete)
- if user_signed_in?
  = render 'credit'

%h3.reviews Reviews:
- if @show.reviews.empty?
  There are currently no reviews.
- else
  %ul.review_list
    - @show.reviews.each do |review|
      %li
        = link_to review.title, show_review_path(@show, review)
        - if user_signed_in?
          %span.admin= link_to('Destroy', review_path(review), :confirm => 'Are you sure?', :method => :delete)
- if user_signed_in?
  %span.admin
    = link_to('+ Create new review', new_show_review_path(@show))
    = form_for @show do |r|
      %select{:id => "review_id", :name => "review_id"}
        - reviews_array = Review.excludes(:show_id => @show.id).map { |review| [truncate(review.title), review.id] }
        = options_for_select(reviews_array)
      = r.submit "Add existing review"