%p
%h1.title= @show.title
.right= image_tag(@show.image.url(:medium)) if @show.image?
.description= @show.description
.tags= 'Tags: ' + @show.tags_array.inspect

- if user_signed_in?
  .admin= link_to('Edit', edit_show_path(@show)) + ' | ' + link_to('Back', shows_path) + ' | ' + link_to('New show', new_show_path)
- else
  .nav= link_to('Back', shows_path)
  