- content_for :title, @show.title + " - 500 Clown"

%h1.title
  = @show.title
  - if user_signed_in?
    %span.admin= link_to('Edit', edit_show_path(@show))
.right= image_tag(@show.image.url(:medium)) if @show.image?
.description= @show.description.html_safe
.tags= 'tags: ' + @show.tags.gsub(/,/, ", ")

%h3.reviews
  Reviews:
  - if user_signed_in?
    %span.admin
      = link_to('+ Create new review', new_show_review_path(@show))
      = form_for @show do |r|
        %select{:id => "review_id", :name => "review_id"}
          = options_from_collection_for_select(Review.excludes(:show_id => @show.id), :id, :title)
        = r.submit "Add existing review"
      
- if @show.reviews.empty?
  There are currently no reviews.
- else
  %ul.review_list
    - @show.reviews.each do |review|
      %li
        = link_to review.title, show_review_path(@show, review)
        - if user_signed_in?
          %span.admin= link_to('Destroy', review_path(review), :method => :delete)