= semantic_form_for @review, :html => { :multipart => true } do |form|

  = form.error_messages

  = form.inputs do
    = form.input :title, :required => true, :label => "Source"
    = form.input :description, :required => true, :as => :text, :label => "Quote"
    = form.input :url, :label => "LINK", :hint => 'e.g. http://herald.com/article'
    = image_tag(@review.image.url(:thumb)) if @review.image?
    = form.input :image
    - if @show
      %input(type="hidden" name="show_id" value="#{@show.slug}")
    - if @workshop
      %input(type="hidden" name="workshop_id" value="#{@workshop.slug}")

  = form.buttons do
    = form.commit_button