- javascript "jquery.wysiwyg"
- javascript "wysiwyg"
- stylesheet "jwysiwyg/jquery.wysiwyg"
/ - stylesheet "formtastic"
/ - stylesheet "formtastic-changes"

= semantic_form_for @review, :html => { :multipart => true } do |form|

  - form.inputs do
    = form.input :title, :required => true, :label => "Review Title"
    = form.input :description, :as => :text, :input_html => { :class => 'wysiwyg' }
    = form.input :url, :label => "LINK", :hint => '(e.g. http://herald.com/article)'
    = image_tag(@review.image.url(:thumb)) if @review.image?
    = form.input :image
    = form.input :show, :as => :select, :collection => Show.find(:all)
    = form.input :workshop, :as => :select, :collection => Workshop.find(:all)

  = form.buttons do
    = form.commit_button