- coder = HTMLEntities.new

%li{:class => cycle("even", "odd")}
  .quote
    %blockquote
      = coder.decode('&ldquo;') + review.description.html_safe + coder.decode('&rdquo;')
  .source
    - if review.url?
      = coder.decode('&mdash;')
      = link_to(review.title, review.url, :target => "_blank")
    - else
      = coder.decode('&mdash;')
      = review.title
    - if user_signed_in?
      - if @show
        %span.admin= link_to(image_tag('pencil.gif', :alt => 'Edit') + "Edit Review", edit_show_review_path(@show, review))
        %span.admin= link_to(image_tag('trash.png', :alt => 'Remove') + "Remove review", "/shows/#{@show.slug}/reviews/#{review.id}/remove", :confirm => 'Are you sure you want to remove this Review?')
      - elsif @workshop
        %span.admin= link_to(image_tag('pencil.gif', :alt => 'Edit') + "Edit Review", edit_workshop_review_path(@workshop, review))
        %span.admin= link_to(image_tag('trash.png', :alt => 'Remove') + "Remove review", "/workshops/#{@workshop.slug}/reviews/#{review.id}/remove", :confirm => 'Are you sure you want to remove this Review?')
      - else
        %span.admin= link_to(image_tag('pencil.gif', :alt => 'Edit') + "Edit Review", edit_review_path(review))
        %span.admin= link_to(image_tag('trash.png', :alt => 'Destroy') + 'Delete Review', review, :confirm => 'Are you sure you want to delete this review?', :method => :delete)