- content_for :title, "Reviews - 500 Clown"

%h1 Press Reviews

%ul.review_list
  - @reviews.each do |review|
    %li
      .title
        = link_to review.title, review
        - if user_signed_in?
          %span.admin
            = link_to 'Edit', edit_review_path(review)
            = link_to 'Destroy', review, :confirm => 'Are you sure?', :method => :delete
      .description
        - if review.image?
          .photo.right= link_to(image_tag(review.image.url(:thumb)), review)
        = review.description.html_safe
      .url= link_to(review.url, review.url) if review.url?
      - if review.show
        %p.reference
          show: 
          = link_to(review.show.title, review.show) 
      - if review.workshop
        %p.reference
          workshop: 
          = link_to(review.workshop.title, review.workshop)