- content_for :title, @review.title + " - 500 Clown"

%p
  = image_tag @review.image.url(:medium) if @review.image?

- if @review.show
  .reference
    show: 
    = link_to(@review.show.title, @review.show) 
- if @review.workshop
  .reference
    workshop: 
    = link_to(@review.workshop.title, @review.workshop)

%p
  %b Review Title:
  = @review.title
%p
  %b Description:
  = @review.description
%p
  %b Url:
  = @review.url
  

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
