- content_for :title, @review.title + " - 500 Clown"

- if @review.show
  .reference
    show: 
    = link_to(@review.show.title, @review.show) 
- if @review.workshop
  .reference
    workshop: 
    = link_to(@review.workshop.title, @review.workshop)

%p
  %b Review Title:
  = @review.title
  - if user_signed_in?
    %span.admin= link_to 'Edit', edit_review_path(@review)
%p
  %b Description:
  = @review.description.html_safe
- unless @review.url.empty?
  %p
    %b Link:
    = link_to @review.url
  
%p
  = image_tag @review.image.url(:medium) if @review.image?