<ul id="menu">
	<li><%= link_to 'Home', '/' %></li>
	<li><%= link_to 'Shows', :shows %></li>
	<li><%= link_to 'Events', :events %></li>
	<li><%= link_to 'Workshops', '#' %></li>

	<% Page.all.each do |page| %>
	<li><%= link_to(page.title.titleize, '/pages/' + page.slug) %></li>
	<% end %>

	<% if user_signed_in? %>
	<li><%= link_to 'Pages', :pages %></li>
	<% end %>
</ul>