%ul
  %li
    %a(href="/" class="home") Home
  %li= link_to 'Shows', :shows, :class => 'shows'
  %li= link_to 'Upcoming', :events, :class => 'events'
  %li= link_to 'Workshops', :workshops, :class => 'workshops'
  %li= link_to 'Reviews', :reviews, :class => 'mreviews'
  %li= link_to 'Facebook', 'http://www.facebook.com/500clown'
  %li= link_to 'Contact', '/pages/contact'
  %li= link_to 'About', '/pages/about'
  %li= link_to 'People', '/pages/people'
  / - Page.all.each do |page|
  /   %li= link_to page.title.titleize, '/pages/' + page.slug,:class => page.slug

- if user_signed_in?
  %ul#admin
    %li.admin= render 'devise/menu/login_items'
    %li.admin= link_to '+ New Show', new_show_path
    %li.admin= link_to '+ New Event', new_event_path
    %li.admin= link_to '+ New Workshop', new_workshop_path
    %li.admin= link_to '+ New Page', new_page_path
    %li.admin= link_to '+ New Review', new_review_path
    %li.admin= link_to '+ New Promo', new_promotion_path
    %li.admin= link_to "&rarr; List Pages".html_safe, pages_path
    %li.admin= link_to "&rarr; List Promos".html_safe, promotions_path
    %li.admin= link_to "&rarr; List Venues".html_safe, venues_path