<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <title><%= yield(:title) || "500 Clown" %></title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
		<meta name="description" content="" /> 
		<meta name="keywords" content="" />
		<%= javascript_include_tag "jquery-1.4.2.min", "rails" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	  <% javascript_tag do %>
	    <%= yield(:jstemplates) %>
	  <% end -%>
    <%= stylesheet_link_tag "application", "formtastic", "nhq" %>
  </head>
  <body>
    <div id="container">
			<% if user_signed_in? %>
				<div class="welcome">Welcome, <%= current_user.name %></div>			
			<% end %>
			<ul class="hmenu">
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
			<%= render 'navigation/menu' %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= content_tag :h1, yield(:title) if show_title? %>
      
			<%= yield %>

    </div>
  </body>
</html>
