!!!
%html
  %head
    %title= yield_for(:title, 'Welcome') + ' - 500 Clown'
    %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    %meta(name="description"){:content => yield_for(:description, 'Life is worth the risk')}
    %meta(name="keywords" content="")
    %meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    = csrf_meta_tag
    = javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.5.min"
    = yield(:head)
    = javascript_include_tag "jquery.rails"
    = stylesheet_link_tag "application", "nhq", "admin"
    -# - javascript_tag do<
    -#   = yield(:jstemplates)<

  %body{:id => yield_for(:body_id, params[:controller])}
    #container	
      .g160= render 'navigation/menu'
      - if user_signed_in?

      .ml880.hmenu
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
    	


      .ml160.g720= yield