!!!
%html
  %head
    %title= yield_for(:title, '500 Clown')
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="#{yield_for(:description, 'Life is worth the risk')}" />
    <meta name="keywords" content="#{yield_for(:keywords, 'audience, risk, action, humor, chicago, theater')}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    = csrf_meta_tag
    = stylesheet_link_tag "reset", "type", "application", "nhq", "admin"
    / %script{:type => "text/javascript", :src => "http://use.typekit.com/uyx6uqn.js"}
    / %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = yield(:head)

  %body{:id => yield_for(:body_id, params[:controller])}
    #container	
      .g240= render 'navigation/menu'

      .ml240.g720
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        = yield
        
    #ajax-status
    = javascript_include_tag "jquery-ui", "jquery.strings", "jquery.utils", "ui.timepickr", "jquery.wysiwyg", "wysiwyg", "rails", "application"
    = yield(:javascripts)
    = javascript_tag do
      = yield(:jstemplates)