<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Untitled" %></title>
		<%= javascript_include_tag "jquery-1.4.2.min", "rails" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	  <% javascript_tag do %>
	    <%= yield(:jstemplates) %>
	  <% end -%>
    <%= stylesheet_link_tag "application", "formtastic", "nhq" %>
  </head>
  <body>
    <div id="container">
			<ul class="hmenu">
			  <%= render 'devise/menu/registration_items' %>
			  <%= render 'devise/menu/login_items' %>
			</ul>
			<ul class="nav">
				<li><%= link_to 'Events', :events %></li>
			</ul>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      
			<%= yield %>

    </div>
  </body>
</html>
